<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <form action="/" method="get">
      <button id="moveHomePageButton" type="submit" value="홈으로"></button>
    </form>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit" value="로그아웃"></button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <button id="loginButton" class="button" type="submit" value="로그인"></button>
    </form>
  </div>
</header>
<nav>
  <form action="admin/users" method="get">
    <button id="moveManageUserPageButton" type="submit" value="회원 관리"></button>
  </form>
</nav>
<section>
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
      <th>게시글 삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
      <td><a th:href="@{|/post/${post.id}|}"></a></td>
      <td th:text="${post.writer}"></td>
      <td th:text="${post.views}"></td>
      <td th:text="*{#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <a th:href="@{|/post/delete/${post.id}|}">삭제</a>
    </tr>
    </tbody>
  </table>
</section>
<script src=""></script>
</body>
</html>