<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 관리</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit">로그아웃</button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <input id="loginButton" class="button" type="submit">로그인</input>
    </form>
  </div>
</header>
<nav>
  <a href="/admin/posts">게시글 관리</a>
</nav>
<section>
  <h3>회원 관리</h3>
  <table>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>nickname</th>
      <th>회원 삭제</th>
    </tr>
    <tr th:each="user: ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.nickname}"></td>
      <td th:text="${user.createdTime}"></td>
      <td>
        <a th:href="@{|/user/delete/${user.id}|}">삭제</a>
      </td>
    </tr>
  </table>
</section>
<script src=""></script>
</body>
</html>