<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TODO: title 내용을 post.title로 나오게 변경 -->
  <title>게시글 상세 조회</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit">로그아웃</button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <input id="loginButton" class="button" type="submit">로그인</input>
    </form>
  </div>
</header>
<section>
  <table>
    <thead>
    <tr>
      <td th:text="${post.title}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${post.writer}"></td>
      <td th:text="${post.createdTime}"></td>
      <td th:text="${post.views}"></td>
    </tr>
    <tr>
      <td th:text="${post.contents}"></td>
    </tr>
    </tbody>
  </table>
  <button>목록</button>
  <button>수정</button>
  <button>삭제</button>

  <div id="commentWriteForm">
    <!-- TODO: ajax를 사용해서 요청 보내기 -->
    <!-- TODO: 로그인 시 commentWriter엔 user.nickname이, 비로그인시에는 blank, readonly로 처리하기 -->
    <input type="text" id="commentWriter" th:text="${user.nickname}" readonly>
    <input type="text" id="commentContents" placeholder="내용">
    <button id="commentWriteButton">댓글 작성</button>
  </div>
  <div id="commentList">
    <table>
      <tr>
        <th>작성자</th>
        <th>내용</th>
        <th>작성시간</th>
      </tr>
      <tr th:each="comment: ${commentList}">
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="${comment.commentCreatedTime}"></td>
        <td><button id="commentDeleteButton">댓글 삭제</button></td>
      </tr>
    </table>
  </div>
</section>
<script src="/static/js/board/postViewCommentWrite.js"></script>
<script src="/static/js/board/postViewCommentDelete.js"></script>
</body>
</html>