<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TODO: title 내용을 post.title로 나오게 변경 -->
  <title>게시글 상세 조회</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
<!--  <span th:if="${user.loginState == 1}">-->
<!--    <p th:text="${user.nickname}">닉네임 표시</p>-->
<!--  </span>-->
  <form action="/user/login" method="get">
    <input id="loginButton" class="button" type="submit">로그인</input>
  </form></header>
<section>
  <table>
    <thead>
    <tr>
      <td th:text="${post.title}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${post.writer}"></td>
      <td th:text="${post.createdTime}"></td>
      <td th:text="${post.views}"></td>
    </tr>
    <tr>
      <td th:text="${post.contents}"></td>
    </tr>
    </tbody>
  </table>
  <button>목록</button>
  <button>수정</button>
  <button>삭제</button>
</section>
<script src=""></script>
</body>
</html>