<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit" value="로그아웃"></button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <button id="loginButton" class="button" type="submit" value="로그인"></button>
    </form>
  </div>
</header>
<section>
  <form action="/post/write" method="post" name="postWrite">
    <input type="text" name="postTitle" placeholder="제목"> <br>
    <textarea name="postContents">여기에 내용을 입력해주세요.</textarea>
    <input type="submit" value="작성">
  </form>
</section>
<script></script>
</body>
</html>