<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
  <p th:text="${user.nickname}">닉네임 표시</p>
</header>
<section>
  <form action="/post/modify" method="post" name="postModifyForm">
    <input type="text" name="boardTitle" placeholder="제목" th:value="${editedPost.title}"> <br>
    <!-- TinyMCE 초기화 지점 추가 -->
    <!-- TODO: 위지윅 에디터 변경 -->
    <textarea id="tiny" name="postContents"
              th:text="${editedPost.contents}">여기에 내용을 입력해주세요.</textarea>
    <input type="submit" value="수정">
  </form>
</section>
<!-- 위지윅 에디터 추가 -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<!-- TinyMCE init 스크립트 추가 -->
<script>
  tinymce.init({
    selector: 'textarea#tiny'
  });
</script>
</body>
</html>