<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${post.title}"></title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <span th:if="${user.userType == 1}">
      <form action="/admin/users" method="get">
        <button id="moveManagePageButton" type="submit" value="관리자 페이지"></button>
      </form>
    </span>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit" value="로그아웃"></button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <button id="loginButton" class="button" type="submit" value="로그인"></button>
    </form>
  </div>
</header>
<section>
  <table>
    <thead>
    <tr>
      <td th:text="${post.title}"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${post.writer}"></td>
      <td th:text="${post.createdTime}"></td>
      <td th:text="${post.views}"></td>
    </tr>
    <tr>
      <td th:text="${post.contents}"></td>
    </tr>
    </tbody>
  </table>
  <form action="/" method="get">
    <button id="movePostListButton" type="submit" value="목록"></button>
  </form>
  <form th:action="/post/edit/${post.id}" method="get">
    <button id="postEditButton" type="submit" value="수정"></button>
  </form>
  <form th:action="/post/delete/${post.id}" method="post">
    <button id="postDeleteButton" type="submit" value="삭제"></button>
  </form>

  <div id="commentWriteForm">
    <!-- TODO: ajax를 사용해서 요청 보내기 -->
    <!-- TODO: 로그인 시 commentWriter엔 user.nickname이, 비로그인시에는 blank, readonly로 처리하기 -->
    <input type="text" id="commentWriter" th:text="${user.nickname}" readonly>
    <input type="text" id="commentContents" placeholder="내용">
    <button id="commentWriteButton">댓글 작성</button>
  </div>
  <div id="commentList">
    <table>
      <tr>
        <th>작성자</th>
        <th>내용</th>
        <th>작성시간</th>
      </tr>
      <tr th:each="comment: ${commentList}">
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="${comment.commentCreatedTime}"></td>
        <td>
          <button id="commentDeleteButton">댓글 삭제</button>
        </td>
      </tr>
    </table>
  </div>
</section>
<script src="/static/js/board/postViewCommentWrite.js"></script>
<script src="/static/js/board/postViewCommentDelete.js"></script>
</body>
</html>