<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>작성글 목록</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <p th:text="${user.nickname}">닉네임 표시</p>
</header>
<nav>
  <a href="/user/modify">회원정보 수정</a>
</nav>
<section>
  <h3 th:text="${user.nickname}님의 작성글">작성글 목록</h3>
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
      <td><a th:href="@{|/post/${post.id}|}"></a></td>
      <td th:text="${post.views}"></td>
      <td th:text="*{#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
  </table>
</section>
<script src=""></script>
</body>
</html>