<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>작성글 목록</title>
  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <div th:if="${user != null}">
    <p th:text="${user.nickname}">닉네임 표시</p>
    <span th:if="${user.userType == 1}">
      <form action="/admin/users" method="get">
        <button id="moveManagePageButton" type="submit" value="관리자 페이지"></button>
      </form>
    </span>
    <span th:if="${user.userType == 0}">
      <form action="/user/update" method="get">
        <button id="moveUserUpdatePageButton" type="submit" value="사용자 정보 페이지">사용자 정보 페이지</button>
      </form>
    </span>
    <form action="/user/logout" method="get">
      <button id="logoutButton" class="button" type="submit" value="로그아웃"></button>
    </form>
  </div>
  <div th:unless="${user != null}">
    <form action="/user/login" method="get">
      <button id="loginButton" class="button" type="submit" value="로그인"></button>
    </form>
  </div>
</header>
<nav>
  <a href="/user/modify">회원정보 수정</a>
</nav>
<section>
  <h3 th:text="${user.nickname}님의 작성글">작성글 목록</h3>
  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
      <td><a th:href="@{|/post/${post.id}|}"></a></td>
      <td th:text="${post.views}"></td>
      <td th:text="*{#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
  </table>
</section>
<script src=""></script>
</body>
</html>